extends layout
block content
  #cartPage
    h1
      span.progressTxt
    h2
      span.infoText
    div.progress-bar.stripes(style="display:none")
      span(style="width: 0%;")
    div
      p
        a.button.buyButton.bigOrangeButton(style='display: none')
          | Proceeed
