extends layout
block content
  #cartPage
    .container
      .col1
        h3
          span.progressTxt
          div.progress-bar.orange.shine(style='display: none')
            span(style="width: 0%;")
      .col2
        div
          p.infoText
        div
          p
            a.button.buyButton(style='display: none')
              | Comply
