extends layout
block content
  #indexPage
    #loader
      img(src="/images/ajax-loader.gif")

    #bubble.waitForLoad
      #bubbleContent
        .close
          | <?xml version="1.0" encoding="utf-8"?>
          | <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
          | <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
          |   <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="0" y1="0" x2="24" y2="24"/>
          |   <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="0" y1="24" x2="24" y2="0"/>
          | </svg>
        h1 Own a slice of Norway!
        .warnings
          .shouldWork
            p Terrafab displays really detailed 3D-landscapes. Your browser should be fine, but you may still have issues with your hardware. Best of luck.
          .maybeWork
            p Terrafab is an experimental service that displays really detailed 3d-models in the browser. Unfortunately, we haven't tested it with your browser yet, but it might just work anyway!
          .cantWork
            p We're really sorry, Terrafab uses WebGL to display detailed 3d models. This just doesn't work in your browser or on your hardware.
          .cantWorkMobile
            p We're sorry, this project is only available on the desktop. And preferably the latest Chrome at that. Watch the video below and come back with your laptop!
        img(src="/images/model_example2.jpg")
        .video
          | <iframe src="//player.vimeo.com/video/36154005" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/36154005">Deluge</a> from <a href="http://vimeo.com/bengler">Even Westvang</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        .block
          p Arguably, Norway has one of the top five most incredible terrains in the known universe. Now you can create your own 3D-printed genuine gypsum heirloom mantelpiece display replica of your favorite part of this formidable landscape in two easy steps:
          ol
            li Drag the selector around until you love what you see in the floating 3D preview.
            li Hit the big, orange button that says "Get this model 3D-printed"
          a.closeBubbleAction.bigOrangeButton Ok, I get it!
    #map
    canvas(width=800 height=800)#terrain.overlay

block interface
  #interface.waitForLoad
    p.version TerraFab v#{version}
    input#q(type='search', autocomplete='off', placeholder='Find place')
    ul#autocomplete
    #goToPreviewButton
      a.bigOrangeButton Get this model 3D-printed
    #position
      input.location(type='text', id='utm', placeholder="UTM")
      br
      input.location(type='text', id='wgs84', placeholder="wgs84")
    p.version TerraFab v#{version}
    #locationsContainer
      label Locations
      select(id='locations')
        option
          | Choose location
        option(value='494417.20766809606,7456170.602218718,495367.2037754589,7457113.403907227|20')
          | Kvikstadheia
        option(value='121734.79468351434,6946022.717761786,123507.65536594816,6947794.652964362|18')
          | Trollstigen
        option(value='-6160.46445169684,6571065.301143491,-4821.245330682432,6572403.3248057095|19')
          | Prekestolen
        option(value='3991.8794009945705,6675277.01137648,38846.754242616764,6710103.299737031|15')
          | Folgefonna
        option(value='-35968.86580163427,6729305.907877451,-29031.719426900614,6736227.296794713|15 ')
          | Bergen
        option(value='-31504.253397836117,6736166.95874983,-30996.64806750079,6736673.027973925|20')
          | Stoltzekleiven
        option(value='92236.35929186764,6890660.056849593,96981.55404939479,6895431.01254551|15 ')
          | Strynefjellsveien
        option(value='125691.98534773808,6947419.381423344,129896.00386262033,6951623.383869354|19')
          | Trollveggen
        option(value='469806.1348994272,7444581.348914685,470768.8399425339,7445515.40875677|20')
          | Molo
        option(value='475755.6741540436,7567966.292423799,483794.6183284903,7575979.983279878|19')
          | Svolvær
        option(value='487987.06193671527,7473718.075534318,490530.6005203848,7476261.970370777|18')
          | Steigtind
        option(value='42178.20672961534,6845863.956900086,56002.99503331678,6859717.544322848|18')
          | Jølster
        option(value='145611.33650652302,6754858.027433209,159224.8484690914,6769117.670705938|18')
          | Hemsedal 
