extends layout
block content
  #map
  #interface
    p TerraFab v#{version}
    | Locations:
    select(id='locations')
      option
        | Choose
      option(value='#67.31285290844802%2C14.441993143622962%2C67.25053169095976%2C14.2774269944074|19')
        | Bodø
      option(value='#67.23079986760212%2C14.89273128530718%2C67.2223265624676%2C14.87078033845352|20')
        | Kvikstadheia

  canvas(width=800 height=800)#terrain.overlay
