extends layout
block content
  #loader
    img(src="/images/ajax-loader.gif")
  #bubble.waitForLoad
    .close
      | <?xml version="1.0" encoding="utf-8"?>
      | <!-- Generator: Adobe Illustrator 17.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
      | <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
      | <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
      |   <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="0" y1="0" x2="24" y2="24"/>
      |   <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="0" y1="24" x2="24" y2="0"/>
      | </svg>
    h1 Welcome to terrafab
    p Lorem ipsum Anim pariatur incididunt reprehenderit ut velit dolore laboris et fugiat est deserunt dolor sint sit aliqua non aliquip occaecat ut deserunt velit incididunt magna sunt consectetur magna dolore deserunt proident ut.
    ul
      li
        a(href="http://github.com/bengler/terrafab") Project at Github
      li
        a(href="http://bengler.no/terrafab") Read about the project
      li
        a(href="http://bengler.no") Bengler
  #map
  canvas(width=800 height=800)#terrain.overlay

block interface
  #interface.waitForLoad
    p.version TerraFab v#{version}
    input#q(type='search', autocomplete='off', placeholder='Find place')
    ul#autocomplete
    #goToPreviewButton
      a Get the model
    #position
      input.location(type='text', id='utm', placeholder="UTM")
      br
      input.location(type='text', id='wgs84', placeholder="wgs84")
    p.version TerraFab v#{version}
    #locationsContainer
      label Locations
      select(id='locations')
        option
          | Choose location
        option(value='#67.23079986760212%2C14.89273128530718%2C67.2223265624676%2C14.87078033845352|20')
          | Kvikstadheia
        option(value='#62.469188142260535%2C7.6880026268043125%2C62.451613687960545%2C7.657800101300902|18')
          | Trollstigen
        option(value='#58.99120209134896%2C6.199123661140132%2C58.97774876508354%2C6.179155038711591|19')
          | Prekestolen
        option(value='#60.26433238509405%2C6.650646647745089%2C59.91450049470812%2C6.112463911580877|15')
          | Jostedalsbreen
        option(value='#60.41327004732575%2C5.371948449161941%2C60.342904628568306%2C5.266280602732225|15 ')
          | Bergen
        option(value='#61.97566337086528%2C7.298613582723558%2C61.92816307913367%2C7.219795105075017|15 ')
          | Strynefjellsveien
        option(value='#62.50681448146823%2C7.7909505645219745%2C62.468205532652014%2C7.686247926500558|19')
          | Kul dal
        option(value='#67.12537816500429%2C14.326115064199323%2C67.11690485986978%2C14.304164117345662|20')
          | Molo
        option(value='#68.29655722735339%2C14.60732267872578%2C68.22411288754861%2C14.414382764202724|19')
          | Svolvær
        option(value='#67.40244889208648%2C14.779167668653693%2C67.37953833419061%2C14.720119058585366|18')
          | Steigtind
        option(value='#61.61285578354744%2C6.612646889765905%2C61.473729586226376%2C6.389303676609522|18')
          | Jølster
        option(value='#60.909875078715736%2C8.71048358733778%2C60.770748881394674%2C8.487140374181397|18')
          | Hemsedal
