extends layout
block content
  #map
  #interface
    p TerraFab v#{version}
    form#search
      input#q(type='search', autocomplete='off', placeholder='Find place')
      ul#autocomplete
    #position
      input(type='text', id='utm').location
      br
      input(type='text', id='wgs84').location

  canvas(width=800 height=800)#terrain.overlay
