doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src='/js/terrafab.js' async defer)
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel="icon", type="image/png", href="/images/favicon_128.png")
    link(rel="shortcut icon", href="/images/favicon_48.ico")
    meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width")      
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-129279-35', 'bengler.no');
      ga('send', 'pageview');

    meta(property='og:url',         content='http://terrafab.bengler.no/')
    meta(property='og:title',       content='Own a slice of Norway!')
    meta(property='og:description', content='Arguably, Norway has one of the top five most incredible terrains in the known universe. Now you can create your own 3D-printed genuine gypsum heirloom mantelpiece display replica of your favorite part of this formidable landscape in two easy steps!')
    meta(property='og:image',       content='http://terrafab.bengler.no/images/model_example2.jpg')
    

  body
    .navbar.navbar-fixed-top.waitForLoad
      .navbar-inner
        div.brand
          a(href='http://bengler.no') BENGLER
        a.aboutTheProjectLink(href="http://bengler.no/terrafab") About the project
    block interface
    #modelSpinner(style="display: none")
      img(src="/images/ajax-loader.gif")
  block content
