doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src='/js/terrafab.js' async)
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", type="image/png", href="/images/favicon_128.png")
    link(rel="shortcut icon", href="/images/favicon_48.ico")
    link(rel="icon", type="image/png", href="/images/favicon_64.png")
    

  body
    .navbar.navbar-fixed-top.waitForLoad
      .navbar-inner
        div.brand
          a(href='http://bengler.no') BENGLER
        a.aboutTheProjectLink(href="http://bengler.no/terrafab") About the project
    block interface

  block content
