doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src='/js/app.coffee' async)
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-fixed-top.waitForLoad
      .navbar-inner
        div.brand
          a(href='http://bengler.no') BENGLER
        a.aboutTheProjectLink(href="http://bengler.no/terrafab") About the project
    block interface

  block content
