extends layout
block content
  #modelPreviewPage
    canvas(width=700 height=700)#terrain.overlay
    .container
      .col1
        div.modelPlaceholder
        .progress(style="display:none")
          .spinner
          p Filling up the lakes…
          p Making roads…
          p Adding snow…
          p Removing trolls…
          p Carving mountains…
          p Growing grass…
          p Painting roads…
          p Removing houses…
        .downloadText
          p If you have your own 3D printer or just want to mess around with the model, you can download the files below.
          p
            a.button.disabled.downloadButton
              | Download 3D-model&nbsp;
              span (.x3d)
      .col2
        h1.readyHeader Your model will be ready soon
        h2 Get it 3D-printed in full color
        p The model will be printed in full color sandstone. The base is 10x10 centimeters (~4x4 inches). We add a small surcharge to help us cover the cost of keeping the lights on.
        p
          a.button.disabled.buyButton
            | Buy now&nbsp;
            span ($100)
        .shapewaysInfo
          .shapewaysLogo
          p The 3D printing service is provided by Shapeways. The terrain models are created by printing layer by layer of binder material and colored ink into a bed of gypsum powder. The products are then finished with a cyanoacrylate (what super glue is made of) sealant to ensure durability and vivid colors. The final product is a hard, slightly brittle material.
          img(src="/images/model_example.jpg").modelExample
