extends layout
block content
  #modelPreviewPage
    canvas(width=700 height=700)#terrain.overlay
    .container
      .col1
        div.modelPlaceholder
        .progress(style="display:none")
          .spinner
          p Filling up the lakes…
          p Making roads…
          p Adding snow…
          p Removing trolls…
          p Carving mountains…
          p Growing grass…
          p Painting roads…
          p Removing houses…
        .downloadText
          p If you have your own 3D printer or just want to mess around with the mesh, you can download the files below.
          p
            a.button.disabled.downloadButton
              | Download 3D-mesh&nbsp;
              span (.x3d)
      .col2
        h1.readyHeader Your model will be ready soon
        h2 Get it 3D-printed in full color
        p The model will be printed in full color sandstone. The base is 10x10 centimeters (~4x4 inches). The price includes a small surcharge to help us cover the cost of keeping this service online.
        p
          a(href=cartURL).button.buyButton
            | Buy now&nbsp;
            span ($100)
        .shapewaysInfo
          a(href="https://www.shapeways.com/about")
            img(src="http://static1.sw-cdn.net/rrstatic/img/sw-logo-dark-blue.svg").shapewaysLogo
          p The 3D printing service is provided by Shapeways. The terrain models are created by printing layer by layer of binder material and colored ink into a bed of gypsum powder. The products are then finished with a cyanoacrylate (what super glue is made of) sealant to ensure durability and vivid colors. The final product is a hard, slightly brittle material.
          img(src="/images/model_example.jpg").modelExample
          p.caption This is the first print we made ourselves. It is the area around Trollveggen, ground zero for <a href="http://www.youtube.com/watch?feature=player_detailpage&v=E8kMpMVAfPw#t=88">BASE jumping</a>. Please note that we have since updated the color scheme: Your mountains will be darker, more brooding &mdash; your vegetation a more restrained hue.
