extends layout
block content
  #modelPreviewPage
    img.model(src="/images/test_model.png")
    .progress
      .spinner
      p Filling up the lakes…
      p Making roads…
      p Adding snow…
      p Removing trolls…
      p Carving mountains…
      p Growing grass…
      p Painting roads…
      p Removing houses…
      script
        $('.progress p').hide();
        var item = 0
        var length = $('.progress p').length
        var interval = setInterval( function() { 
          $('.progress p').hide();
          if(item<length) { 
            $( $('.progress p')[item] ).show(); 
            item++; 
            console.log(item);
            if( item == length+1) {
              $('.progress').hide();
              clearInterval(interval);
            }
          } 
        }, 1500);

    h1 Your model is soon ready

    .container
      .col1
        h2 Buy the model on ShapeWays
        p Lorem ipsum Ut adipisicing veniam deserunt elit nulla culpa est cupidatat magna anim occaecat anim ad aliqua et magna reprehenderit minim.
        .shapewaysLogo
      .col2
        h2 Download the model
        p Lorem ipsum Sit eu et in incididunt tempor pariatur exercitation magna non dolor sit minim aliquip ad eu eu sit adipisicing mollit enim adipisicing aute dolor ad occaecat ad.
