#cartPage
  .buyButton
    cursor: pointer
  margin-top: 100px
  margin-left: 100px
  p
    line-height: 24px
  a.button
    display: inline-block
    background-color: buttonColor
    line-height: 40px
    height: 40px
    text-align: center
    font-weight: 600
    color: #000
    padding: 0 20px
    text-transform: uppercase
    cursor: pointer
    span
      font-weight: 100
      text-transform: normal
    &.disabled, &.disabled:hover, &.disabled:active
      background-color: #eee
      color: #ddd
      cursor: default
    &:hover
      background-color: darken( buttonColor, 10%)
    &:active
      background-color: darken( buttonColor, 20%)
  .container
    margin-top: 90px
    clear: both
    .col1, .col2
      position: relative
      float: left
      margin-bottom: 200px
    .col1
      width: 600px
    .col2
      max-width: 400px
      padding-right: 50px
  p
    font-weight: 300
    font-size: 16px
    line-height: 20px
