#interface
  position: absolute
  top: 0
  right: 0
  z-index: 1100
  padding-right: 10px
  p.version
    display: none
  #q
    margin-top: 11px
    width: 200px
    margin-right: 140px
  #locationsContainer
    position: absolute
    top: 9px
    right: 10px
    label
      display: none
    
  #autocomplete
    height: 200px
    width: 200px
    margin: 0
    padding 0
    overflow: scroll
    li
      list-style-type: none
      font-size: 11px
      border: 1px solid #999
      padding: 3px
      background-color: white
      opacity: 0.8
      cursor: pointer
    li.selected, li.current.selected, li:hover
      background-color: #333
      opacity: 1
      color: #fff
    li.current
      background-color: #666
      color: #fff
      font-style: italic
  #position
    position: fixed
    bottom: 0px
    right: 10px
    width: 150px
    #wgs84, #utm
      position: absolute
    #utm
      right: 200px
    #wgs84
      right: 400px
    .location
      width: 100%
      font-size: 10px
      background: none
      border: 1px solid #ccc
      padding-right: 10px