body
  overflow: scroll !important
#modelPreviewPage
  canvas#terrain
    z-index: 10
    position: absolute
    top: -130px
    left: -45px
  p
    line-height: 24px
  .progress
    position: absolute
    text-align: center
    width: 100%
    margin-top: -60px
    .spinner
      background-image: url('/images/ajax-loader.gif')
      height: 16px
      width: 16px
      background-size: 16px 16px
      display: inline-block
      margin-bottom: -3px
      margin-right: 8px
    p
      display: inline-block
      color: #666
  div.modelPlaceholder
    width: 600px
    height: 450px
  a.button
    display: inline-block
    background-color: buttonColor
    line-height: 40px
    height: 40px
    text-align: center
    font-weight: 600
    color: #000
    padding: 0 20px
    text-transform: uppercase
    cursor: pointer
    span
      font-weight: 100
      text-transform: normal
    &.disabled, &.disabled:hover, &.disabled:active
      background-color: #eee
      color: #ddd
      cursor: default
    &:hover
      background-color: darken( buttonColor, 10%)
    &:active
      background-color: darken( buttonColor, 20%)
  h1
    text-transform: uppercase
    font-size: 48px
    font-weight: 900
  // .shapewaysLogo
  //   background-image: url('http://static1.sw-cdn.net/rrstatic/img/sw-logo-dark-blue.svg')
  //   background-repeat: no-repeat
  //   height: 24px
  //   background-size: auto 100%
  .container
    margin-top: 90px
    clear: both
    .col1, .col2
      position: relative
      float: left
      margin-bottom: 200px
    .col1
      width: 600px
    .col2
      max-width: 400px
      padding-right: 50px
  // type
  p
    font-weight: 300
    font-size: 16px
    line-height: 20px
  .caption
    font-style: italic
    font-size: 14px
    color: #999
    line-height: 18px
    margin-top: 5px
  .shapewaysInfo
    margin-top: 48px
    .shapewaysLogo
      height: 24px
  .downloadText
    p
      padding: 0 90px
      line-height: 24px

  img.modelExample
    width: 400px
    height: auto