@import 'leaflet.css'

body
  height: 100%
  width: 100%
  padding: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  overflow: hidden
a
  color: #00B7FF

#interface
  position: absolute
  top: 0px
  bottom: 0
  right: 0
  left: auto
  z-index: 1000
  margin-right: 20px

#map
  position: absolute
  top: 0px
  bottom: 0
  left: 0
  right: 0

  .moveable
    cursor: move

canvas
  border: 1px solid #f0f
  z-index: 1
  position: absolute
  top: 0px
  right: 0
  pointer-events: none
