@import 'leaflet.css'
@import 'nav'
body
  height: 100%
  width: 100%
  padding: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  overflow: hidden
  user-select: none
  -webkit-user-select: none
  -moz-user-select: none
a
  color: #00B7FF
#map
  .leaflet-control-container
    .leaflet-left
      top: 60px !important
      margin-left: 50px !important
.leaflet-marker-pane
  .leaflet-div-icon
    background-color: transparent
    border: none
  .corner-nw
    cursor: nw-resize
  .corner-sw
    cursor: sw-resize
  .corner-se
    cursor: se-resize
  .corner-ne
    cursor: ne-resize

#interface
  position: absolute
  top: 0px
  bottom: 0
  right: 0
  left: auto
  z-index: 1000
  padding-right: 10px
  #q
    width: 100%
  #autocomplete
    height: 200px
    width: 200px
    margin: 0
    padding 0
    overflow: scroll
    li
      list-style-type: none
      font-size: 11px
      border: 1px solid #999
      padding: 3px
      background-color: white
      opacity: 0.8
    li.selected, li.current.selected
      background-color: #333
      opacity: 1
      color: #fff
    li.current
      background-color: #666
      color: #fff
      font-style: italic


  #position
    position: absolute
    bottom: 20px
    right: 10px
    width: 150px
    .location
      width: 100%
      font-size: 10px
      background: none
      border: 1px solid #ccc
      padding-right: 10px




#map
  position: absolute
  top: 0px
  bottom: 0
  left: 0
  right: 0

  .moveable
    cursor: move
    opacity: 0

canvas
  z-index: 1
  position: absolute
  top: 0px
  right: 0
  bottom: 0
  pointer-events: none
