@import 'leaflet.css'
@import 'nav'
@import 'interface'
@import 'previewPage'

body
  height: 100%
  width: 100%
  padding: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  overflow: hidden
  user-select: none
  -webkit-user-select: none
  -moz-user-select: none
a
  color: #00B7FF

#map
  .leaflet-control-container
    .leaflet-left
      top: 60px !important
      margin-left: 50px !important
.leaflet-marker-pane
  .leaflet-div-icon
    background-color: rgba(#666, 0.9)
    border: 1px solid #fff
    border-radius: none
  .corner-nw
    cursor: nw-resize
  .corner-sw
    cursor: sw-resize
  .corner-se
    cursor: se-resize
  .corner-ne
    cursor: ne-resize
#map
  position: absolute
  top: 0px
  bottom: 0
  left: 0
  right: 0

  .moveable
    cursor: move
    opacity: 0

canvas
  z-index: 1
  position: absolute
  top: 0px
  right: 0
  bottom: 0
  pointer-events: none
